* {
    font-size: 12.5px;
    font-family: 'Arial';
}

footer {
    color: white;
}

footer a {
    color: white;
}

button a {
    color: white;
}

.left-margin {
    margin-left: 15px;
}

.menu {
    background-color: #0277BD;
}

.menu a {
    color: rgb(66, 66, 66);
}

.right-margin {
    margin-left: 15px;
}

body {
    background-color: rgb(246, 247, 250);
}

.margin-top {
    margin-top: 10px;
}

.inputw {
    width: 400px !important;
}

.lowselects {
    width: 120px !important;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.selectblock {
    position: relative;
    margin: 0;
    padding: 0;
    width: 400px;
}

.top-margin {
    margin-top: 20px;
    margin-left: 15px;
}

#my-error {
    display: none;
}

.my-menu {
    font-size: 12px !important;
}

.image-avatar {
    padding-top: 5px;
    width: 200px;
    height: 300px;
}

.top-profile-img {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-left: 10px;
}

.left-column-wrap {
    position: relative;
    width: 220px;
    height: 370px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    float: left;
}

.for-btn {
    margin-top: 10px;
    width: 200px;
}

.img-radius {
    margin-top: 12px;
    border-radius: 4px;
}

.right-column-wrap {
    float: right;
    min-width: 600px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.page-info-block {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.page-info-wrap {
    padding: 15px 20px;
}

.page-info-name {
    border-bottom: 1px solid #e7e8ec;
}

.page-name {
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 15px;
}

.page-profile-info {
    padding-top: 10px;
}

.row-info {
    display: block;
    line-height: 150%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 13px;
}

.info-label-header {
    width: 160px;
    color: #828282;
    float: left;
    display: block;
    text-align: left;
}

.info-label {
    overflow: hidden;
    max-width: 400px;
}

.clear_fix:after {
    content: '';
    display: block;
    clear: both;
}

.info-block {
    padding: 0 0 29px;
    border-top: 1px solid #e7e8ec;
    margin-top: 20px;
}

.info-header {
    position: relative;
    margin: -11px 0 4px;
    margin-bottom: 15px;
}

.label-info-header {
    padding-bottom: 4px;
    padding-right: 10px;
    background-color: #fff;
    line-height: 150%;
    font-size: 14px;
    color: black;
}