footer {
    color: white;
}

footer a {
    color: white;
}

button a {
    color: white;
}

.left-margin {
    margin-left: 15px;
}

.menu {
    background-color: #0277BD;
}

.menu a {
    color: rgb(66, 66, 66);
}

.right-margin {
    margin-left: 15px;
}

body {
    background-color: rgb(246, 247, 250);
}

.margin-top {
    margin-top: 10px;
}