* {
    font-size: 12.5px;
    font-family: 'Arial';
}

footer {
    color: white;
}

footer a {
    color: white;
}

button a {
    color: white;
}

.left-margin {
    margin-left: 15px;
}

.menu {
    background-color: #0277BD;
}

.menu a {
    color: rgb(66, 66, 66);
}

.right-margin {
    margin-left: 15px;
}

body {
    background-color: rgb(246, 247, 250);
}

.margin-top {
    margin-top: 10px;
}

.inputw {
    width: 400px !important;
}

.lowselects {
    width: 120px !important;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
}

.selectblock {
    position: relative;
    margin: 0;
    padding: 0;
    width: 400px;
}

.top-margin {
    margin-top: 20px;
    margin-left: 15px;
}

#my-error {
    display: none;
}

.my-menu {
    font-size: 12px !important;
}

.image-avatar {
    padding-top: 5px;
    width: 200px;
    height: 300px;
}

.top-profile-img {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-left: 10px;
}

.left-column-wrap {
    position: relative;
    width: 220px;
    height: 370px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    float: left;
}

.for-btn {
    margin-top: 10px;
    width: 200px;
}

.img-radius {
    margin-top: 12px;
    border-radius: 4px;
}

.right-column-wrap {
    float: right;
    min-width: 600px;
    height: 300px;
    margin: 0;
    padding: 0;
}

.page-info-block {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.page-info-wrap {
    padding: 15px 20px;
}

.page-info-name {
    border-bottom: 1px solid #e7e8ec;
}

.page-name {
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 15px;
}

.page-profile-info {
    padding-top: 10px;
}

.row-info {
    display: block;
    line-height: 150%;
    text-align: left;
    margin-bottom: 10px;
    font-size: 13px;
}

.info-label-header {
    width: 160px;
    color: #828282;
    float: left;
    display: block;
    text-align: left;
}

.info-label {
    overflow: hidden;
    max-width: 400px;
}

.white-color {
    color: white !important;
}

.clear_fix:after {
    content: '';
    display: block;
    clear: both;
}

.info-block {
    padding: 0 0 29px;
    border-top: 1px solid #e7e8ec;
    margin-top: 20px;
}

.info-header {
    position: relative;
    margin: -11px 0 4px;
    margin-bottom: 15px;
}

.label-info-header {
    padding-bottom: 4px;
    padding-right: 10px;
    background-color: #fff;
    line-height: 150%;
    font-size: 14px;
    color: black;
}

.dateborn {
    width: 90px;
    height: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bornmenu>li {
    display: block;
    position: relative;
    float: left;
}

.bornmenu {
    width: 400px;
}

.dateborn a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
    width: 120px;
}

.downmenu {
    position: absolute;
    top: 100%;
    left: 10px;
    width: 120px;
    margin: 0;
    padding: 0;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    height: 200px;
    overflow: scroll;
}

.dateborn ul {
    background: #ECDAD6;
}

.dateborn ul a {
    color: black;
    border: 0.5px solid rgba(66, 66, 66, .3);
}

.dateborn .downmenu {
    background-color: steelblue;
}

#daymenu {
    display: none;
}

#monthmenu {
    display: none;
}

#yearmenu {
    display: none;
}

#otdeleniestud {
    display: none;
}

#groupstud {
    display: none;
}




.btnmargin {
    margin-top: 50px;
}

.margin-top {
    margin-top: 20px;
}

.panel-myimg {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    float: left;
    position: relative;
}

.search-myimg {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    float: left;
    position: relative;
}

.post-img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.search-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.panel-names {
    min-width: 100px;
    max-width: 300px;
    height: 30px;
    margin-left: 20px;
    font-weight: bold;
    padding: 0;
    float: left;
}

.panel-text {
    margin-top: 20px;
    padding: 5px;
    padding-left: 0;
}

.message-container {
    min-height: 900px;
    margin:0;
    padding: 0;
    min-width: 700px;
    position: relative;
    background-color: white;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.message-row {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    height:60px;
    display: block;
    position: relative;
}

.message-receiver-photo {
    margin-right: 10px;
    padding: 0;
    width:60px;
    height: 60px;
    border-radius: 50%;
    float: left;
}
.message-receiver-photo  img {
    width:60px;
    height:60px;
}

.message-info {
    margin:0;
    padding: 0;
    width:550px;
    height:60px;
    float: left;
}

.message-receiver {
    padding-top: 3px;
    padding-bottom: 3px;
    margin:0;
    display: block;
    min-width: 150px;
    height:25px;
    font-weight: bold;
}

.message-sender {
    margin:0;
    padding: 0;
    display: block;
    height:30px;
    position: relative;
}

.message-sender-photo {
    margin-right: 5px;
    padding: 0;
    width:30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}
.message-sender-photo img {
    width:30px;
    height: 30px;
}
.message-sender-lasttext {
    margin:0;
    padding: 0;
    height:30px;
    min-width: 400px;
    max-width: 500px;
    display: inline-block;
}

.sendmessage-container {
    min-height: 750px;
    margin-left:100px;
    padding: 0;
    max-width: 600px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: white;
}

.sendmessage-receiver {
    display: block;
    margin:0;
    padding: 0;
    width: 100%;
    height:30px;
    position:relative;
    border-bottom: 1px solid #e7e8ec;
}

.sendmessage-receiver-name {
    margin:0;
    padding-top: 5px;
    width:100%;
    font-weight: bold;
}

.sendmessage-messages {
    margin:0;
    padding: 15px;
    height:680px;
    width:100%;
    display: block;
    position: relative;
}

.sendmessage-send {
    margin:0;
    padding: 0;
    height:60px;
    width: 100%;
    border:1px solid #e7e8ec;
    display: block;
    position: relative;
}

.sendmessage-input {
    width:500px;
    margin:0;
    padding: 10px;
    float: left;
}

.sendmessage-input input {
    width:400px;
    border-radius: 10px;
    height:40px;
    border:none;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-left:80px;
    text-indent: 10px;
}



.sendmessage-button {
    padding-top: 10px;
}

.error-block{
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
}

.sendmessage-message {
    position: absolute;
    bottom: 0;
    left: 0;
    border:1px solid red;
}